<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83734797857-9bdsa6gf5oltqg7f12536rj562sg0241.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83734797857-9bdsa6gf5oltqg7f12536rj562sg0241</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>83734797857-nkn78mi530ih7t9m1odlmqfcpjqrg2lo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmHWFmaHhXHla0K7hutre697WuBTabt5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>83734797857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team.iCare</string>
	<key>PROJECT_ID</key>
	<string>intely-3a60b</string>
	<key>STORAGE_BUCKET</key>
	<string>intely-3a60b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83734797857:ios:5956d93909032f74b08d60</string>
	<key>DATABASE_URL</key>
	<string>https://intely-3a60b.firebaseio.com</string>
</dict>
</plist>