<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>iCareConnect-User</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Facebook login</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb$(ROYO_CONSULTANT_FACEBBOK_APP_ID)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google login</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(ROYO_CONSULTANT_REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle ID Universal linking</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(ROYO_CONSULTANT_BUNDLE_ID)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>$(ROYO_CONSULTANT_FACEBBOK_APP_ID)</string>
	<key>FacebookDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>$(PRODUCT_NAME) uses your calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera is used to upload profile picture of user and send images in chat.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Required your location to get your addess</string>
	<key>NSLocationUsageDescription</key>
	<string>Required your location to get your addess</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Required your location to get your addess</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone is used to send audio while calling.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photos is used to upload profile picture of user and send images in chat.</string>
	<key>ROYO_CONSULTANT_ANDROID_CLIENT_ID</key>
	<string>$(ROYO_CONSULTANT_ANDROID_CLIENT_ID)</string>
	<key>ROYO_CONSULTANT_ANDROID_PACKAGE_NAME</key>
	<string>$(ROYO_CONSULTANT_ANDROID_PACKAGE_NAME)</string>
	<key>ROYO_CONSULTANT_APPLE_APP_ID</key>
	<string>$(ROYO_CONSULTANT_APPLE_APP_ID)</string>
	<key>ROYO_CONSULTANT_BASE_PATH</key>
	<string>$(ROYO_CONSULTANT_BASE_PATH)</string>
	<key>ROYO_CONSULTANT_BUNDLE_ID</key>
	<string>$(ROYO_CONSULTANT_BUNDLE_ID)</string>
	<key>ROYO_CONSULTANT_CLIENT_ID</key>
	<string>$(ROYO_CONSULTANT_CLIENT_ID)</string>
	<key>ROYO_CONSULTANT_FIREBASE_PAGE_LINK</key>
	<string>$(ROYO_CONSULTANT_FIREBASE_PAGE_LINK)</string>
	<key>ROYO_CONSULTANT_IMAGE_ORIGINAL</key>
	<string>$(ROYO_CONSULTANT_IMAGE_ORIGINAL)</string>
	<key>ROYO_CONSULTANT_IMAGE_THUMBS</key>
	<string>$(ROYO_CONSULTANT_IMAGE_THUMBS)</string>
	<key>ROYO_CONSULTANT_IMAGE_UPLOAD</key>
	<string>$(ROYO_CONSULTANT_IMAGE_UPLOAD)</string>
	<key>ROYO_CONSULTANT_JITSI_SERVER</key>
	<string>$(ROYO_CONSULTANT_JITSI_SERVER)</string>
	<key>ROYO_CONSULTANT_REVERSED_CLIENT_ID</key>
	<string>$(ROYO_CONSULTANT_REVERSED_CLIENT_ID)</string>
	<key>ROYO_CONSULTANT_SOCKET_BASE_PATH</key>
	<string>$(ROYO_CONSULTANT_SOCKET_BASE_PATH)</string>
	<key>UIAppFonts</key>
	<array>
		<string>campton-book.ttf</string>
		<string>campton-light.ttf</string>
		<string>campton-medium.ttf</string>
		<string>campton-semibold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>LoginSignUp</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LoginSignUp</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
